@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', 'Lato', sans-serif;
  background-color: #303436;
}

body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: #303436;
  color: #d7d3ce;
}

a {
  color: #d7d3ce;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

#error-message {
  width: 90rem;
  padding: 2rem;
  margin: 6rem auto 2rem auto;
  border-radius: 12px;
  background-color: #3f4142;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
}