@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', 'Lato', sans-serif;
  background-color: #abc2ce;
}

body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: #090909;
  color: white;
  scroll-behavior: smooth;
}

a {
  color: white;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

#error-message {
  width: 90rem;
  padding: 2rem;
  margin: 6rem auto 2rem auto;
  border-radius: 12px;
  background-color: #3f4142;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
}

.primary-button {
  padding: 10px 20px;
  background-color: #427756;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: white;
  transition: all 0.2s ease;
}

.primary-button:hover, 
.primary-button:active {
  color: #e48900
}

a.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
}