{% extends 'base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'blog/css/post-detail.css' %}">
{% endblock css_files %}

{% block page_title %}{{ post.title }}{% endblock page_title %}

{% block content %}

  <article>
    <section id="post-summary">
      <div class="left-container">
        <h2>{{ post.title }}</h2>
        <h3>{{ post.excerpt }}</h3>
      </div>
      <div class="right-container">
        <picture>
          <img src="{% static 'blog/images/'|add:post.image %}" alt="{{ post.title }}">
        </picture>
        <address>By {{ post.author|title }}</address>
        <div>
          Last updated on <time>{{ post.created_date|date:"d M Y" }}</time>
        </div>
      </div>
    </section>

    <section id="post-content">
      <p>{{ post.content|linebreaksbr }}</p>        
    </section>
  </article>

{% endblock content %}