{% extends 'base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'blog/css/includes/post-card.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/includes/tags.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/posts-list.css' %}">
{% endblock css_files %}

{% block page_title %}{{ page_title|title }}{% endblock page_title %}

{% block content %}
  <main id="posts-list">
    <section>
      <h2>{{ page_title|title }}</h2>
      <ul>
        {% for post in posts %}
          <li>
            {% include 'blog/includes/post-card.html' with tags=post.tags.all %}
          </li>
        {% endfor %}
      </ul>

      <div class="pagination">
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </div>

    </section>
  </main>
{% endblock content %}


