.post-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  transition: all 0.2s ease;
  background-color: #3d3d3d;
  padding: 1rem;
}

.post-card:hover {
  transform: scale(1.1);
}

.post-card > a {
  text-decoration: none;
  flex-grow: 1;
}

.post-card img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 50%;
}

.post-card h3 {
  margin: 0.5rem 0;
}
