#blog-header {
  background-color: #00000000;
  box-shadow: none;
}

#welcome {
  background: linear-gradient(to right top, #427756, #34623c);
  padding: 6rem 12%;
}

#welcome header {
  display: flex;
  align-items: flex-start;
  margin: 3rem auto;
}

#welcome img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: top;
  border: 5px solid #303436;
  border-radius: 12px;
  background-color: #303436;
  transform: rotateZ(-5deg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#welcome h2 {
  font-size: 3.5rem;
  margin: 0 0 0 2rem;
  width: 10rem;
}

#welcome p {
  font-size: 1.5rem;
}

#latest-posts {
  width: 60rem;
  padding: 2rem;
  margin: -5rem auto 2rem auto;
  border-radius: 12px;
  background-color: #3f4142;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
}

#latest-posts h2 {
  text-align: center;
}

#latest-posts ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

#latest-posts li {
  max-width: 25rem;
  flex: 1;
}

#latest-posts .all-posts {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

#latest-posts .all-posts a {
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #427756;
  border-radius: 12px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}

#latest-posts .all-posts a:hover, 
#latest-posts .all-posts a:active {
  color: #e48900
}

#about {
  text-align: center;
  padding: 3rem 12%;
  background-color: #34623c;
  margin-top: 5rem;
}

#about h2 {
  font-size: 3rem;
}

#about p {
  font-size: 1.5rem;
}