#post-detail {
  padding-top: 6rem;
  padding-bottom: 2rem;
}

#post-content,
#post-comments,
#post-header,
#comment-error  {
  width: 60rem;
  padding: 1rem 3rem;
  margin: 1.5rem auto;
  text-align: justify;
}

#post-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 16px;
  background-color: #34623c;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#bookmark {
  position: absolute;
  top: 0px;
  right: 45px;
  z-index: 999;
}

#bookmark button {
  background-color: Transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

#bookmark svg {
  fill: #aaaaaa;
  height: 30px;
  transition: all 0.2s ease;
}

#bookmark.on svg,
#bookmark svg:hover {
  height: 45px;
  fill: #e48900;
}

#post-header .left-container {
  max-width: 50rem;
}

#post-header h2 {
  text-align: left;
  font-size: 4.5rem;
  margin: 1.2rem 0;
}

#post-header h3 {
  margin: 1.8rem 0;
}

#post-header .right-container {
  padding: 1rem 2rem;
  border-radius: 12px;
  text-align: right;
}

#post-header .right-container img {
  width: 12rem;
  height: 12rem;
  border-radius: 12px;
  transform: rotateZ(5deg);
  border: 5px solid white;
  margin-bottom: 1rem;
}

#post-header address {
  font-weight: bold;
}

#post-header time {
  font-weight: bold;
} 

#post-content,
#post-comments {
  background-color: #242424;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  font-size: 1.2rem;
}

#post-comments .comments-list {
  margin: 1rem 0;
  list-style: none;
  padding: 0;  
}

#post-comments .comments-list li {
  border: 1px solid #766e61;
  border-radius: 12px;
  padding: 1rem;
  margin-top: 1.5rem;
  font-size: 1.1rem;
}

#post-comments .comments-list p:last-of-type {
  margin-bottom: 0;
}

#post-comments .comment-by {
  font-weight: bold;
}

#post-comments .comment-on {
  font-style: italic;
  font-size: 0.9rem;
}

#comment-error {
  border: 1px solid #680000;
  background-color: #420003;
  border-radius: 12px;
}

#comment-error h2 {
  margin-top: 0px;
}