{% extends 'book_outlet/base.html' %}
{% load static %}

{% block page_styles %}
  <link rel="stylesheet" href="{% static 'book_outlet/css/author-detail.css' %}">
  <link rel="stylesheet" href="{% static 'book_outlet/css/includes/books-list.css' %}">
  <link rel="stylesheet" href="{% static 'book_outlet/css/includes/books-list-item.css' %}">  
  <link rel="stylesheet" href="{% static 'book_outlet/css/includes/rating.css' %}">
{% endblock page_styles %}

{% block title %}{{ author.name }}{% endblock title %}

{% block page_content %}
  <div id="author-detail">
    <h1>{{ author.name }}</h1>

    <h2>Total of {{ number_of_books }} book with average rating of {{ average_rating|floatformat:2 }}</h2>

    {% include 'book_outlet/includes/books_list.html' %}

    <div class="back-home">
      <a href="{% url 'home' %}">Back to home</a>
    </div>
  </div>
{% endblock page_content %}