{% extends 'book_outlet/base.html' %}
{% load static %}

{% block page_styles %}
  <link rel="stylesheet" href="{% static 'book_outlet/css/book-detail.css' %}">
  <link rel="stylesheet" href="{% static 'book_outlet/css/includes/rating.css' %}">
{% endblock page_styles %}

{% block title %}{{ book.title }}{% endblock title %}

{% block page_content %}
  <div id="book-detail">
    <picture>
      <img src="{{ book.cover.url }}" alt="{{ book.title }}">
    </picture>
    <section class="book-info">
      <h1>
        {{ book.title }}
        {% if book.is_bestseller %}
          {% include 'book_outlet/includes/bestseller.html' %}
        {% endif %}
      </h1>

      <h2>
        by <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a>
      </h2>
      
      {% include 'book_outlet/includes/rating.html' with rating=book.rating %}
      
      <h3>Price: ${{ book.price|floatformat:2 }}</h3>

      <p>{{ book.description|linebreaks }}</p>

      <div class="back-home">
        <a href="{% url 'home' %}">Back to home</a>
      </div>
    </section>
  </div>
{% endblock page_content %}