{% extends 'book_outlet/base.html' %}
{% load static %}

{% block page_styles %}
  <link rel="stylesheet" href="{% static 'book_outlet/css/home.css' %}">
  <link rel="stylesheet" href="{% static 'book_outlet/css/includes/books-list.css' %}">
  <link rel="stylesheet" href="{% static 'book_outlet/css/includes/books-list-item.css' %}">
  <link rel="stylesheet" href="{% static 'book_outlet/css/includes/rating.css' %}">
{% endblock page_styles %}

{% block title %}All Books{% endblock title %}

{% block page_content %}

  <section id="home-content">
    <h1>All Books</h1>

    <form action="{% url 'home' %}" method="GET">
      <input name="search_value" value="{{ search_value }}" type="text" placeholder="Search book">
      <button>Search</button>
    </form>

    <hr>

    {% include 'book_outlet/includes/books_list.html' %}
  </section>

{% endblock page_content %}