<div class="book-list-item">

  {% if book.is_bestseller %}
    <div class="bestseller" title="Bestseller">
      {% include 'book_outlet/includes/bestseller.html' %}
    </div>
  {% else %}
    <div class="bestseller"></div>
  {% endif %}

  <div class="title">
    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
  </div>

  <div class="author">
    <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a>
  </div>

  {% include 'book_outlet/includes/rating.html' with rating=book.rating %}

</div>