#book-detail {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 60vw;
  max-width: 1000px;
}

#book-detail picture {
  width: 500px;
}

#book-detail img {
  width: 100%;
}

#book-detail section {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

#book-detail section h1 {
  font-size: 28px;
  margin: 0;
}

#book-detail section h2 {
  margin-top: 5px;
  font-size: 15px;
}

#book-detail section p {
  text-align: justify;
}